* {
    box-sizing: border-box;
}

.mainBody {
    border: 5px #868c63 solid;
    display: block;
    height: max-content;
    border-radius: 20px;
    background-color: rgba(156, 39, 176, 0.57);
    margin-top: 4%;
}
.bg-page {
    /* The image used */
    background-image: url("https://res.cloudinary.com/quynv300192/image/upload/v1615913368/HTML_CSS_JS_Assignment02/triangles-1430105_dbkldc.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    font-weight: bold;
    font-size: 110%;
    color: #dcf111;
}

h1 {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    color: #9b940a;
}

.txtinsetshadow {
    /*text-align: center;*/
    /*text-shadow: -1px -1px 1px #eedc85, 2px 2px 1px #301206;*/
    text-align: center;
    font-size: 40px;
    height: 100px;
    padding-top: 25px;
    color: #202020;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.labelRegister {
    display: inline-block;
    float: right;
}

.inputTextRegister {
    display: inline-block;
    float: left;
}

.msgerror {
    color: red;
    font-style: italic;
    font-size: small;
}

.msgsuccess {
    color: #0ee20e;
    font-style: italic;
    font-size: small;
}
.divMain{
    display: inline-block;
    height: max-content;
}