* {
    box-sizing: border-box;
}
.mainDiv{
    margin: 0;
    padding: 0;
    border: 0;
}

.bgBody{
    background-image: url("https://res.cloudinary.com/quynv300192/image/upload/v1615913368/HTML_CSS_JS_Assignment02/triangles-1430105_dbkldc.png");
    background-repeat: repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: scroll;
}

label {
    font-weight: bold;
    font-size: 110%;
    color: #dcf111;
}

h1 {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    color: #9b940a;
}

.txtinsetshadow {
    text-align: center;
    font-size: 40px;
    height: 100px;
    padding-top: 25px;
    color: #202020;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
.imgThumnail01 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: .5s ease;
    opacity: 0.6;
    object-fit: cover;
}
.imgThumnail01:hover{
    opacity: 1;
    cursor: pointer;
}
.divIMG{
    height: 300px;
    width: 400px;
}
.Songs-item {
    height: 100%;
    float: left;
    cursor: pointer;

}
h2.songName{
    font-size: large;
    color: white;
    text-align: center;
}
h3.songInfo{
     font-size: small;
     color: white;
     text-align: left;
 }
audio{
    width: 100%;
    height: 100%;
}
h2.valiModal {
    color: #b32020;
    font-size: medium;
    text-align-all: center;
}
.center {
    margin: auto;
    padding: 10px;
}
button {
    float: left;
    color: #fbfcfd;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #fbfcfd;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
}
button:hover{
    background-color: #005cbf;
    opacity: 1;
    cursor: pointer;
}
span{
    alignment: center;
}
.divTitle{
    height: fit-content;
}
img.logo{
    width: 100%;
}
.musicItem{

    border-radius: 15px;
    background-color: rgba(156, 39, 176, 0.57);
    margin-bottom: 15px;
}